<mat-toolbar class="footer">
  <div>
    <div class="footer-col">

      <div class="social-links">
        <a target="_blank" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
        <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
        <a target="_blank" href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
        <a target="_blank" href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>
</mat-toolbar>
